<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href="/program-languages"> <i class="fa fa-code fa-front" aria-hidden="true"> </i>  </a>
          <h2>Program languages</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="/resume"> <i class="fa fa-file fa-front" aria-hidden="true"> </i>  </a>
          <h2>Résumé</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="#"> <i class="fa fa-desktop fa-front" aria-hidden="true"> </i>  </a>
          <h2>Projects </h2>
          <p>During my study time, I have achieved a couple projects.<p></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="line"></div>
      <div class="row">
         <div class="col-md-4 col-centered text-center">
          <a href="#"> <i class="fa fa-user fa-front" aria-hidden="true"> </i>  </a>
          <h2>Contact</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div><!-- /.col-lg-4 -->
      </div>
</div>